@mixin input-layout {
    font-size: 1em;
    font-weight: 200;
    padding:2px;
    font-family: inherit;
}

.form-input{ 
 @include input-layout;
 border:1px solid rgb(156, 153, 153) ;
 border-radius: 2px;
}


