@mixin modal-theme($color ) {
    background-color: $color;
    border-radius: 10px;
    padding: 1em;
    text-align: center;
}

.modal-theme-default {
    @include modal-theme(rgba($color: #f7df9ab3,$alpha: 0.7));

}
.modal-theme-warning {
    @include modal-theme(rgba($color: #fdcd3bb3,$alpha: 0.7));
}
.modal-theme-error { 
    @include modal-theme(rgba($color: #ff3939b3,$alpha: 0.7));
}

.modal-item { 
    box-sizing: border-box;
    padding:calc(1vw + 0.3em);
}

.modal-centered { 
    align-items: center;
}
