.responsive-flexbox { 
    @media screen and (max-width:600px) {
        flex-direction: column;
        align-items: center;
    }
}

.responsive-image { 
    max-width: 30vw;
    height: auto;
}

.responsive-extended {
    width: 100%;
}

.responsive-justify-center{
    justify-content: center;
}

.responsive-block {
    padding: calc(2px + 1vh);
}

 h1{
    font-size:calc(3px + 2vw);
 }
