.responsive-flexbox { 
    @media screen and (max-width:600px) {
        flex-direction: column;
        align-items: center;
    }
}

.responsive-image { 
    max-width: 30vw;
    height: auto;
}
.centered { 
    align-items: center;
}

.extended {
    width: 100%;
}